html {
  height: 100vh;
  font-family: Poppins;
}

body {
  padding: 10px;
  background-image: url('img/background-img.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

#emoji-container {
  margin: 40px;
  text-align: center;
}

#emoji-container span {
  margin: 10px;
  font-size: 100px;
}

#push-btn,
#unshift-btn {
  background-color: #80d87f;
}

#shift-btn,
#pop-btn {
  background-color: #e23349;
}

h1 {
  letter-spacing: 2px;
  text-align: center;
  color: white;
}

input {
  margin: 0 auto;
  display: block;
  border: none;
  height: 30px;
  background: white;
  border-radius: 6px;
  text-align: center;
}

button {
  font-family: Poppins;
  font-weight: bold;
  letter-spacing: 2px;
  background: darkcyan;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  margin: 10px;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px;
  padding: 5px;
}
